<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Your description goes here" />
		<meta name="keywords" content="one, two, three" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>
	<body>
		<h1>Hunters</h1>
		<ul class="hunters">
			<% for(let i=0; i < info.length; i++) {%>
			<li class="hunter">
				<span><%= info[i].name %></span>
			</li>
			<% } %>
		</ul>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
